{% extends 'base.html' %}
{% load markup %}

{% block title %} &mdash; {{ landingpage.title }}{% endblock title %}

{% block body_id %} id="landingpage" class="{{ landingpage.theme }}"{% endblock body_id %}

{% block content %}

    {% if landingpage %}
    <div class="poster">
        <h1>{{ landingpage.title }}</h1>
        {% if landingpage.text %}<p class="lead">{{ landingpage.text|markdown:"safe" }}</p>{% endif %}
        {% if landingpage.link_url %}<p><a href="{{ landingpage.link_url }}" class="btn btn-default btn-lg">{{ landingpage.link_text}}</a></p>{% endif %}
    </div>
    {% else %}
        <p>Det er ingen ting her</p>
    {% endif %}

{% endblock content %}

{% block footer %}
<div class="cover-image" style="background-image: url('{{ landingpage.cover_image.url }}');"></div>
{% endblock footer %}
