{% extends 'base.html' %}

{% block title %} &mdash; Music{% endblock title %}

{% block content %}

    {% if album_list or single_list or vinyl_list %}
        {% if album_list %}
            <div class="row">
                <div class="col-12">
                    <h1>Albums</h1>
                    <hr>
                </div>
                {% for album in album_list %}
                <div class="col-12 col-sm-6 col-lg-4 release album">
                    {{ album.title }}, {{ album.release_date }},
                    {% for sales_link in album.sales_link.all %}
                        <a href="{{ sales_link.url }}" title="{{ sales_link.text }} class="{{ sales_link.type }}">{{ sales_link.text }}</a>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        {% endif %}

        {% if single_list %}
        <div class="row">
            <div class="col-12">
                <h1>Singles</h1>
                <hr>
            </div>
            {% for single in single_list %}
            <div class="col-12 col-sm-6 col-lg-4 release album">
                {{ single.title }}, {{ single.release_date }},
                {% for sales_link in single.sales_link.all %}
                    <a href="{{ sales_link.url }} title="{{ sales_link.text }} class="{{ sales_link.type }}">{{ sales_link.text }}</a>
                {% endfor %}
            </div>
            {% endfor %}

        </div>
        {% endif %}

        {% if vinyl_list %}
        <div class="row">
            <div class="col-12">
                <h1>Vinyls</h1>
                <hr>
            </div>
            {% for vinyl in vinyl_list %}
            <div class="col-12 col-sm-6 col-lg-4 release album">
                {{ vinyl.title }}, {{ vinyl.vinyl_release_date }},
                {% for sales_link in vinyl.sales_link.all %}
                    <a href="{{ sales_link.url }}" title="{{ sales_link.text }} class="{{ sales_link.type }}">{{ sales_link.text }}</a>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        {% endif %}

    {% else %}
        <div class="row">
            <div class="col-12">
                <h1>Eeeh…</h1>
                <p class="lead">There is no music to display</p>
                <hr>
            </div>
        </div>
    {% endif %}


{% endblock content %}
