{% extends 'base.html' %}

{% block title %} &mdash; Lyrics {% endblock title %}

{% block head_extra %}
{% endblock head_extra %}

{% block body_id %} id="lyrics"{% endblock body_id %}
{% block content %}

{% if lyrics %}
    {% for album, songs in lyrics.items %}
    <div class="release">
        <!-- title -->
        <div class="title">
            <h1>{{ album.title}}</h1> 
            <hr>
        </div>

        <!-- list -->
        <div class="songs">
            <ul class="nav nav-tabs">
            {% for song in songs %}
                <li><a href="#song{{ song.id }}"{% if forloop.first %} class="active"{% endif %}>{{ song.title }}</a></li>
            {% endfor %}
            </ul>
        </div>

        <!-- lyrics -->
        <div class="lyrics">
            <div class="tab-content">
            {% for song in songs %}
                <div id="song{{ song.id}}" class="tab-pane{% if forloop.first %} active{% endif %}">{{ song.lyrics }}</div>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <p>You have yet to add some lyrics.</p>
{% endif %}

{%endblock content%}
