{% load staticfiles %}
{% load i18n %}
{% load activelink %}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ band_name }}{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{% static "styles/bootstrap.css" %}">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static "scripts/bootstrap.min.js" %}"></script>
    <script src="{% static "scripts/bandpage.js" %}"></script>
    {% block head_extra %}{% endblock head_extra %}
</head>

<body{% block body_id %}{% endblock body_id %}>

    <header>
        <div class="container">
            <nav class="navbar navbar-inverse" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand{% block frontpageActiveHack %}{% endblock %}" href="/">{{ band_name }}</a>
                </div>

                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'concerts:index' %}"{% ifactive 'concerts:index' %} class="active" {% endifactive %}>{% trans "Concerts" %}</a></li>
                        <li><a href="{% url 'music:index' %}"{% ifactive 'music:index' %} class="active" {% endifactive %}>{% trans "Music" %}</a></li>
                        <li><a href="{% url 'photos:index' %}"{% ifactive 'photos:index' %} class="active" {% endifactive %}>{% trans "Photos" %}</a></li>
                        <li><a href="{% url 'videos:index' %}"{% ifactive 'videos:index' %} class="active" {% endifactive %}>{% trans "Videos" %}</a></li>
                        <li><a href="{% url 'music:lyrics' %}"{% ifactive 'music:lyrics' %} class="active" {% endifactive %}>{% trans "Lyrics" %}</a></li>
                        <li><a href="{{ twitter_url }}">Twitter</a></li>
                        <li><a href="{{ facebook_url }}">Facebook</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <section class="content">
        <div class="container">
        {% block content %}
            <h1>test!</h1>
        {% endblock content %}
        </div>
    </section>

    {% block footer %}
    <footer>
        <div class="container">
            <div id="contact-info">
                <div id="booking">
                    <h3>{% trans "Booking" %}:</h3>
                    <p>{{ booking_name }}<br>
                       {{ booking_phone}}<br>
                       <a href="mailto:{{ booking_mail }}">{{ booking_mail }}</a>
                    </p>
                </div>

                <div id="promo">
                    <h3>{% trans  "PR" %} :</h3>
                    <p>{{ pr_name}}<br>
                       {{ pr_phone}}<br>
                       <a href="mailto:{{ pr_mail }}">{{ pr_mail }}</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock footer %}

</body>

</html>
