<!DOCTYPE html>
<html>

<head>
    <title>Kr&aring;kes&oslash;lv &mdash; {% block title %}{% endblock title %}</title>
</head>

<body>
    
    <nav>
        <ul>
            <li><a href="/">Frontpage</a></li>
            <li><a href="{% url 'concerts:index' %}">Concerts</a></li>
            <li><a href="{% url 'music:index' %}">Music</a></li>
            <li><a href="{% url 'photos:index' %}">Photos</a></li>
        </ul>
    </nav>


    {% block content %}
        <h1>test!</h1>
    {% endblock content %}
</body>

</html>
