{% extends 'base.html' %}

{% block title %} &mdash; Photos{% endblock title %}

{% block body_id %} id="photos"{% endblock body_id %}

{% block content %}
    <div class="row">
        {% if photo_list %}
            <div class="col-12">
                <h1>Photos</h1>
                <hr>
            </div>
            {% for photo in photo_list %}
            <div class="col-12 col-sm-6 col-lg-4 photo">
                <a href="{{ photo.image.url }}" alt="{{ photo.title }}">
                    <!--<img class="img-responsive" src="{{ photo.thumb }}">-->
                    <img class="img-responsive" src="{{ photo.thumbnail.url }}">
                    {% if photo.photographer %}
                        <p class="byline">Foto: <strong>{{ photo.photographer }}</strong></p>
                    {% else %}
                        <p class="byline">&nbsp;</p>
                    {% endif %}
                </a>

            </div>
            {% endfor %}
        {% else %}
        <div class="col-12">
            <h1>Eeeh…</h1>
            <p class="lead">There are no photos to display.</p>
        </div>
        {% endif %}
    </div>
    
{% endblock content %}
