{% extends 'base.html' %}
{% load i18n %}
{% block title %} &mdash; Photos{% endblock title %}

{% block body_id %} id="photos"{% endblock body_id %}

{% block content %}
    <div class="photo-list">
        {% if photo_list %}
            <div class="title">
                <h1>{% trans "Photos" %}</h1>
                <hr>
            </div>
            {% for photo in photo_list %}
            <div class="photo">
                <a href="{{ photo.image.url }}" alt="{{ photo.title }}">
                    <img class="img-responsive" src="{{ photo.thumbnail.url }}">
                    {% if photo.photographer %}
                        <p class="byline">{% trans "Photo" %}: <strong>{{ photo.photographer }}</strong></p>
                    {% else %}
                        <p class="byline">&nbsp;</p>
                    {% endif %}
                </a>

            </div>
            {% endfor %}
        {% else %}
        <div class="title">
            <h1>Eeeh…</h1>
            <p class="lead">There are no photos to display.</p>
        </div>
        {% endif %}
    </div>
    
{% endblock content %}
