{% extends 'base.html' %}

{% block title %} &mdash; Concerts{% endblock title %}

{% block body_id %} id="concerts"{% endblock body_id %}

{% block content %}
    {% for concerts in concert_lists %}
        {% if concerts == concert_lists.0 %}
            <h2>Upcoming concerts</h2>
        {% else %}
            <h2>Past concerts</h2>
        {% endif %}

        {% if concerts %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="date"><h5><i class="icon-calendar"></i></h5></th>
                        <th class="city"><h5><i class="icon-map-marker"></i>City</h5></th>
                        <th class="venue"><h5><i class="icon-home"></i>Venue</h5></th>
                        <th class="facebook"> </th>
                        <th class="tickets"> </th>
                    </tr>
                </thead>

            {% for concert in concerts %}
                <tr>
                    <td>{{ concert.date|date:"d\/m" }}</td>
                    <td>{{ concert.city }}</td>
                    <td>{{ concert.venue }}</td>
                    <td>
                        {% if concert.facebook_url %}
                        <a href="{{ concert.facebook_url }}"><span class="label">Facebook</span></a>
                        {% endif %}
                    </td>
                    <td>
                        {% if concert.ticket_url %}
                        <a href="{{ concert.ticket_url }}"><span class="label label-inverse">Kjøp billett</span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>There are no concerts to display.</p>
        {% endif %}

    {% endfor %}

{% endblock content %}
