{% extends 'base.html' %}
{% load i18n %}
{% block title %} &mdash; {% trans "Concerts" %}{% endblock title %}

{% block body_id %} id="concerts"{% endblock body_id %}

{% block content %}
    {% for concerts in concert_lists %}
        <div class="concert-lists">
            <div class="title">
                {% if concerts == concert_lists.0 %}<h1>{% trans "Upcoming concerts" %}</h1>
                {% else %}<h1>{% trans "Past concerts" %}</h1>
                {% endif %}<hr>
            </div>

        {% if concerts %} 
            <div class="concert-list table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="date"><h5><span class="glyphicon glyphicon-calendar"></span></h5></th>
                            <th class="city"><h5><span class="glyphicon glyphicon-map-marker"></span> {% trans "City" %}</h5></th>
                            <th class="venue"><h5><span class="glyphicon glyphicon-home"></span> {%trans "Venue" %}</h5></th>
                            <th class="facebook"></th>
                            <th class="tickets"></th>
                        </tr>
                    </thead>

                {% for concert in concerts %}
                    <tr>
                        <td>{{ concert.date|date:"d\/m" }}</td>
                        <td>{{ concert.city }}</td>
                        <td>{{ concert.venue }}</td>
                        <td>
                            {% if concert.facebook_url %}
                            <a href="{{ concert.facebook_url }}"><span class="label label-default">Facebook</span></a>
                            {% endif %}
                        </td>
                        <td>
                            {% if concert.ticket_url %}        
                            <a href="{{ concert.ticket_url }}" ><span class="label label-default {% if concert.is_sold_out %}sold_out{% endif %} "><span class="glyphicon glyphicon-shopping-cart"></span> {% trans "Buy tickets" %}</span></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            {% else %}
            <div class="concert-list">
                <p class="lead">{% trans "There are no concerts to display." %}</p>
            </div>
        {% endif %}

    </div>
    {% endfor %}

{% endblock content %}
