{% extends 'base.html' %}
{% load markup %}

{% block title %} &mdash; Videos{% endblock title %}

{% block body_id %} id="videos"{% endblock body_id %}

{% block content %}

    {% if video_list %}
        {% for video in video_list %}
            {{ video.title }}, text: {{ video.text|markdown:"safe" }}
            <div class="flex-video">
            {% if video.type == "you" %}
                <iframe width="560" height="315" src="//www.youtube.com/embed/{{ video.video_id}}" frameborder="0" allowfullscreen></iframe>
            {% elif video.type == "vim" %}
                <iframe src="http://player.vimeo.com/video/{{video.video_id}}" width="560" height="315" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>There are no videos to display.</p>
    {% endif %}
    
{% endblock content %}
